:textile
  h2. Custom Services EDM Interface Engine Prototype
  
  Welcome to the Custom Services EDM Interface Engine
  * Post XML to /transactions/new
  * View the logs at "/transactions/log":/transactions/log